.pokemon-dialog {
    background-color: rgb(25, 56, 87);
}

#pokemon-dialog {
    background-color: rgb(25, 56, 87);
    width: 400px;
    min-height: 500px;
    border-radius: 15px;
}

#pokemon-dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
}

.dialog-header {
    background-color: #272A35;
    border-radius: 12px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

}

.dialog-header button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    position: absolute;
    right: 15px;
}

.pokemon-dialog-tabs {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    gap: 8px;
}

.pokemon-dialog-tabs button {
    background-color: rgb(39, 42, 53);
    border-radius: 12px;
    padding: 3px 5px 3px 5px;
    cursor: pointer;
    border: none;
    color: white;
    width: calc(100%/3);

}

.poke-img-dialog {
    justify-self: center;
    align-items: center;
}

.poke-img-dialog img {
    height: 280px;
    width: auto;
}

.stats-table {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    color: white;
}

#dialog-info {
    margin-top: 8px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
}

.poke-dialog-counter {
    color: white;
    margin: 10px 0 10px 0;
    display: flex;
    justify-content: space-around;
}

.poke-dialog-counter button {
    display: inline-block;
    background-color: transparent;
    border-radius: 50%;
    border: transparent;
}

.poke-dialog-counter button:hover {
    cursor: pointer
}
