body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(25,56,87);
}

header {
    background-color: #272A35;
    display: flex;
    justify-content: space-between;
    height: 100px;
    color: #FFFFFF;
    margin-bottom: 46px;
    padding: 0 40px 0 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
   
}

main {
    flex: 1;
}

footer {
    display: flex;
    background-color: rgb(39, 42, 53);
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 24px;
    text-align: center;
}

.pokeball {
    height: 44px;
    width: auto;
}

.pokedex {
    display: flex;
    gap: 18px;
}

.pokemon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.pokemon-card {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: pink;
    height: 350px;
    width: 250px;
    border-radius: 15px;
    margin: 20px;
}

.poke-img {
    height:  60%;
    width: auto;
}

.grass {
    background-color: #5FC925;
}

.fire {
    background-color: #D9420E;
}

.water {
    background-color:rgb(60,152,238);
}

.bug {
    background-color: #C9D41C;
}

.normal {
    background-color: gray;
}

.ghost {
    background-color: #6B5FC9;
}

/* 7C12A8 */

.electric {
    background-color: #F9D71C;
}

.ground {
    background-color: #E2BF65;
}

.poison {
    background-color: #A63FA6;
}

.psychic {
    background-color: #F95C9C;
}

.rock {
    background-color: #C9B16B;
}

.steel {
    background-color: #C9C9D1;
}

.ice {
    background-color: #5CC9D1;
}

.fighting {
    background-color: #C94B3F;
}

.type-icons {
    box-sizing: border-box;
    width: 100%;
    background-color: #272A35;
}

.pokemon-name {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    border-radius: 12px;
    background-color: #272A35;
}

.load-more-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.load-more button {
    background-color: #E30613;
    border: none;
    color: white;
    border-radius: 12px;
    padding: 10px 50px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.type-icons {
    padding: 8px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 12px;
}

.type-icons img {
    height: 20px;
    width: auto;
}

#pokemon-names {
    display: none;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.loading-spinner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-size: 32px;
}
.spinner {
    width: 260px;
    height: 260px;
    animation: spin 3s linear;
    margin: 20px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(820deg); }
}

